 <!-- /* File name: index.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 31, 2022 */ -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Book Store</h1>
    </br>
      <div class="row">
        <div class="col-md-9">
          <h2>The goal of this application is to create a bookstore where user can add, edit and delete thier favorite books.</h2>
        </br>
          <h4>Create your Custom Book List.</h4>
        </br>
        <h4>By Adding New Books in the List.</h4>
        </br>
        <h4>Or Edit the Existing Book List According to your Choice.</h4>
        </br>   
       </div>
       <div class="col-md-3">
          <img src="https://readalberta.ca/wp-content/uploads/2021/03/NextPage.jpg" alt="Book Store" width="250" height="200">
       </div>
    </div> 
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




